wifi_ssid: "dein-wlan"
wifi_password: "dein-wlan-passwort"
fallback_password: "beliebiges-passwort-fuer-notfall-hotspot"
api_encryption_key: ""   # von ESPHome beim ersten Erstellen automatisch generiert
ota_password: "beliebiges-ota-passwort"
mqtt_broker: "10.11.11.x"   # IP deines Mosquitto-Brokers
mqtt_username: "dein-mqtt-user"
mqtt_password: "dein-mqtt-passwort"
